/* Slider/Carousel
    - Based on: http://codereview.stackexchange.com/questions/54673/pure-js-image-slider by charliegeiger89
    - Also see: https://bitbucket.org/bradyliles/deity-slider */
// Note: give "hidden" class to all Slider Figure elements except the 1st (prevents flash of "under image")

.slideshow {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  > {
    figure {
      left: 0;
      position: relative;
      top: 0;
      /* Note: delay synched to .hidden's timing */
      transition: all 1.0s linear 0.5s;
      > img {
        display: block;
      }
    }
    .hidden {
      left: 100%;
      opacity: 0;
      position: absolute;
      /* fade out occurs 1st, delay on "left change" makes it unseen */
      transition: opacity 0.95s, left 1.0s 1.0s;
    }
    figure > figcaption {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      bottom: 1em;
      color: #fff;
      height: 12.5em;
      left: 1em;
      padding: 10px 20px;
    }
  }
}

.kurve-directionNav {
  display: block;
  > input {
    /* background: url(../images/arrows.png) no-repeat; */
    background: url(../images/slider-icons.png) no-repeat;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 12em;
    transition: all 200ms ease-in-out;
    width: 30px;
    opacity: 1;
  }
}

input {
  &.kurve-nextNav {
    background-position: -30px 0;
    right: 20px;
  }
  &.kurve-prevNav {
    left: 20px;
  }
}

.pause-alert {
  /* background-color: #fff; */
  background: url(../images/slider-icons.png) no-repeat;
  background-position: -60px 0;
  border-radius: 2em;
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  letter-spacing: 2px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0.5em;
  left: 48%;
  width: 30px;
}

.slideshow:hover > .pause-alert {
  opacity: 0.45;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
